
@font-face {
    font-family: HeaderFont;
    src: url(Backfired.ttf);
}
@font-face {
    font-family: PersonalFont;
    src: url(PersonalServices.ttf);
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* black background */
    color: #fff; /* white text */
}

header {
    background-color: #000000; /* black background */
    padding: 10px 0;
    font-family: HeaderFont;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
   
margin-top: 30px;
}

.brand {
    flex: 1;
}

.brand .logo {
    color: #fffb00; /* white text */
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #fff; /* white text */
    text-decoration: none;
    padding: 0 15px;
}

.nav-link:hover {
    color: rgb(255, 255, 255); /* blue text */
}
/* CSS for the glow effect */
.glow-container {
    position: relative;
    display: inline-block;
}

.glow {
    box-shadow: 0 0 20px rgba(128, 110, 110, 0.199); /* Adjust the color and intensity of the glow by changing rgba values */
}
/* CSS for the arrow icon */
.arrow {
    margin-left: 5px;
}

/* CSS for reducing opacity */
.btn-opacity {
    opacity: 0.9;
}
.btn-primary:hover {
    background-color: #000000dc !important; /* Change the color on hover */
}
.about-us-section .section-title:hover,
.about-us-section .section-description:hover,
.about-us-section ul.list-unstyled:hover {
    text-shadow: 0 0 20px rgba(255, 217, 0, 0.274);
}
    
    .card-text {
        flex-grow: 0;
        overflow-y: auto; /* Enable scrolling if text overflows */
    }
    .feature-tile {
        background-color: #131414; /* Dark grey background */
        padding: 20px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    
    .feature-tile:hover {
        background-color: #495057; /* Dark grey hover effect */
    }
    
    .feature-tile h3 {
        color: #fff; /* White text color */
    }
    
    .feature-tile p {
        color: #ddd; /* Light grey text color */
    }
     /* Custom CSS for vertical videos */
     .card {
        display: flex;
        flex-direction: column;
    }

    .embed-responsive {
        flex-grow: 1;
    }

    .card-body {
        flex-grow: 0;
    }
      /* Line between headers and paragraphs */
      .section-title {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
    }

    .section-title::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffffd8;
    }
    .glowing-image {
        box-shadow: 0 0 20px #ffffff36;
      }
      .black-overlay {
        background-color: rgba(0, 0, 0, 0.795);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    a:hover .black-overlay {
        opacity: 0.5;
    }
    
    a img:hover {
        transform: scale(1.1);
    }
    .btn-primary:hover {
        background-color: #999999;
    }